# Python
backend/venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env

# VS Code
.vscode/

# Node.js / Electron / React
**/node_modules/
**/dist/
**/build/
**/.parcel-cache/
**/.turbo/

# Logs
*.log

# OS / System files
.DS_Store
Thumbs.db
desktop.ini
*.db

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Virtual environments (if named differently)
env/
.venv/