body,html {
  margin: 0;
  padding: 0;
  background: #191919;
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
}

.titleBar {
  padding: .25rem 0 0 1rem;
  height: 2rem;
  background: #151515;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: #DDDDDD;
  -webkit-app-region: drag; /* Enables dragging of the window in Electron */
}




